{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mt-2">
    <div class="row mt-5 h-75">
        <div class="col-12 mt-5">
            <h1 class="display-4 heading-font text-white"></h1>
            <h1 class="display-4 heading-font text-blue">Online Pet Store</h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="btn-shop-now btn-lg btn text-uppercase">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}