{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-75">
    <div class="row h-75">
        <div class="col-12 text-center align-self-center">
            <h1 class="display-4 heading-font text-blue">Show your dog youl</h1>
            <h1 class="display-4 heading-font text-blue">love them!</h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="btn-shop-now btn-lg btn text-uppercase">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}