<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="heading-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="heading-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=luxury_dog_collars" id="home-link" aria-haspopup="true" aria-expanded="false">
                Dog Collars
            </a>
        </li>
        <li class="nav-item">
            <a class="heading-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=bed_blanket" id="home-link" aria-haspopup="true" aria-expanded="false">
                Beds & Blankets
            </a>
        </li>
        <li class="nav-item">
            <a class="heading-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=organic_dog_treats" id="home-link" aria-haspopup="true" aria-expanded="false">
                Healthy Treats
            </a>
        </li>
        <li class="nav-item">
            <a class="heading-font font-weight-bold nav-link text-black mr-5" href="{% url 'blog_posts' %}" id="blog-link" aria-haspopup="true" aria-expanded="false">
                Dog Blog
            </a>
        </li>
    </ul>
</div>