<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="about-link">
                <a href="" class="dropdown-item">July Blog</a>
                <a href="" class="dropdown-item">August Blog</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dog Services
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="dog-services-link">
                <a href="{% url 'products' %}?category=organic_dog_treats" class="dropdown-item">Dog Walking</a>
                <a href="" class="dropdown-item ">Hiking Adventures</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dog Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="dog-shop-link">
                <a href="{% url 'products' %}?category=organic_dog_treats" class="dropdown-item">Organic Dog Treats</a>
                <a href="{% url 'products' %}?category=luxury_dog_collars" class="dropdown-item">Luxuary Dog Collars</a>
                <a href="{% url 'products' %}?category=bed_blanket" class="dropdown-item">Beds & Blankets</a>
                <a href="{% url 'products' %}?category=organic_dog_treats,bed_blanket,luxury_dog_collars" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dog Blog
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="blog-link">
                <a href="" class="dropdown-item">July Blog</a>
                <a href="" class="dropdown-item">August Blog</a>
            </div>
        </li>
    </ul>
</div>