{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="blog-overlay"></div>
<div class="container container-pd">
    <h2 class="header-font mb-4 pt-2 text-center text-white">Add Blog Post</h2>
    <!-- Add Blog Posts -->
    <div class="row justify-content-center">
        <div class="col-sm-12 col-lg-6">
            <div class="pb-4">
                <form method="POST" action="{% url 'add_post' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in post_form %}
                    {% if field.name != 'image' %}
                    {{ field | as_crispy_field }}
                    {% else %}
                    {{ field }}
                    {% endif %}
                    {% endfor %}
                    <div class="text-center mt-2">
                        <button class="btn btn-sm btn-blue rounded-0 text-uppercase" type="submit">Add Post</button>
                        <button class="btn btn-sm btn-blue rounded-0 text-uppercase"
                            href="{% url 'blog_posts' %}">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}