{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Dog Blog</h2>
                            <!-- All Blog Posts -->
            <div class="row justify-content-center">
                <div class="col-sm-12 col-lg-6">
                    {% for post in posts %}
                        <div class="card p-5 my-5">
                            <p class="text-uppercase">{{ post.title }}</p>
                            <p class="text-muted">Posted By: {{ post.user }} | Date Published: {{ post.created_on }}
                            <p class="card-text">{{post.blog_content|slice:":200" }}</p>
                            </p>
                            <a href="{% url 'post_detail' post.id %}" class="btn btn-sm btn-black rounded-0 text-uppercase">
                                View Post
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            </div>
        </div>
{% endblock %}

