{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<section class="container container-pd">
    <div class="overlay"></div>
    <div class="row">
        <div class="col mt-3">
            <h2 class="heading-font mb-4 pt-2">The Dog Blog</h2>
        </div>
    </div>
    <hr>
    <div class="col-12">
        <p class="text-uppercase text-center mt-3 text-black">
            <strong>Total blog posts: </strong>({{ posts|length }})
        </p>
    </div>
    <!-- All Blog Posts -->
    <div class="row">
        {% for post in posts %}
        <div class="col-sm-12 col-md-6">
            <div class="card p-5">
                <div class="">
                    {% if post.image %}
                    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="" />
                    {% else %}
                    <img src="{{ post.image_url }}" alt="{{ post.title }}" class="" />
                    {% endif %}
                </div>
                <p class="text-uppercase text-black mt-3">{{ post.title }}</p>
                <p class="text-muted mb-0">Posted By: {{ post.user }}</p>
                <p class="text-muted">Posted On: {{ post.created_on }}</p>
                <p class="card-text">{{post.blog_content|slice:":200" }}</p>
                <a href="{% url 'post_detail' post.id %}" class="btn btn-sm btn-blue rounded-0 text-uppercase">
                    Read More
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>


</section>

{% endblock %}