{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<main class="container container-pd">
    <div class="overlay"></div>
    <div class="row">
        <div class="col mt-3">
            <h2 class="heading-font mb-4 pt-2">The Dog Blog</h2>
        </div>
    </div>
    <hr>
    <!-- Fully expanded Individual Blog Posts -->
    <div class="container">
        <div class="col">
            <div class="my-5">
                {% if post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="blog_img blog-img" />
                {% else %}
                <img src="{{ post.image_url }}" alt="{{ post.title }}" class="blog_img blog-img" />
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="my-4">
                    <h2 class="text-uppercase">{{ post.title }}</h2>
                    <p class="text-muted">Posted By: {{ post.user }} on the {{ post.created_on }}</p>
                    <p class="card-text">{{ post.blog_content }}</p>
                    {% if post.user == request.user or request.user.is_superuser %}
                    <div class="text-center">
                        <a href="{% url 'edit_post' post.id %}"
                            class="btn btn-sm btn-blue rounded-0 text-uppercase">Edit</a>
                        <a href="{% url 'delete_post' post.id %}"
                            class="btn btn-sm btn-blue rounded-0 text-uppercase">Delete</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <hr>
    </div>
    <!-- Post Comments to individual blogs -->
    <div class="container">
        <div class="row">
            <div class="col mb-4">
                <h3 class="text-uppercase mt-3">Comments: ({{ comments|length }})</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% for comment in comments %}
                <div class="shadow-sm p-1 mb-3 bg-white rounded">
                    <p class="font-weight-bold mb-2 mt-3">{{ comment.user }} on {{ comment.created_on }}</p>
                    <p class="text-black mb-2 mt-3">{{ comment.comment_content }}</p>
                    {% if comment.user == request.user or request.user.is_superuser %}
                    <a href="{% url 'delete_comment' comment.id %}"
                        class="btn btn-sm btn-blue rounded-0 text-uppercase"><i class="fas fa-trash-alt"></i> Delete</a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Comment Form -->
        <div class="container">
            <div class="row pb-5">
                <div class="col-lg-6 col-md-12 mt-5 pl-0">
                    {% if request.user.is_authenticated %}
                    <h3 class="text-uppercase">Leave a comment</h3>
                    <form class="form" method="POST">
                        {% csrf_token %}
                        <fieldset>
                            {{ comment_form|crispy }}
                            <fieldset>
                                <button class="btn btn-sm btn-blue rounded-0 text-uppercase" type="submit"><i
                                        class="fas fa-paper-plane"></i> Post
                                    Comment</button>
                    </form>
                </div>
            </div>
            {% else %}
            <div class="">
                <p> To comment on this post you need to first <a href="{% url 'account_login' %}" class="">login</a>
                </p>
            </div>
            {% endif %}
        </div>
</main>

{% endblock %}