{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<main class="container container-pd">
    <div class="overlay"></div>
    <div class="row">
        <div class="col mt-3">
            <h2>The Dog Blog</h2>
        </div>
    </div>
    <hr>
    <!-- Fully expanded Individual Blog Posts -->
    <div class="container">
        <div class="col">
            <div class="image-container my-5">
                {% if post.image %}
                    <a href="{{ post.image.url }}" target="_blank">
                        <img class="" src="{{ post.image.url }}" alt="{{ post.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="" src="{{ MEDIA_URL }}noimage.png" alt="{{ post.name }}">
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="my-4">
                    <h2 class="text-uppercase">{{ post.title }}</h2>
                    <p class="text-muted">Posted By: {{ post.user }} on the {{ post.created_on }}</p>
                    <p class="card-text">{{ post.blog_content }}</p>
                    {% if post.user == request.user or request.user.is_superuser %}
                    <div class="text-center">
                        <a href="{% url 'edit_post' post.id %}"
                            class="btn btn-sm btn-blue rounded-0 text-uppercase">Edit</a>
                        <a href="{% url 'delete_post' post.id %}"
                            class="btn btn-sm btn-blue rounded-0 text-uppercase">Delete</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <hr>
    </div>
    <!-- Post Comments to individual blogs -->
    <div class="container">
    <div class="row">
        <div class="col mb-4">
            <h3>Comments: {{ comments|length }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            {% for comment in comments %}
                <p class=""> Posted By: {{ comment.user }}
                    <p class="text-muted">Posted On: {{ comment.created_on }}</p>
                    <p class="">{{ comment.comment_content }}</p>
                    <hr>
                    {% endfor %}
        </div>
</div>
</div>
    <!-- Comment Form -->
    <div class="container">
    <div class="row pb-5">
        <div class="col">
            {% if request.user.is_authenticated %}
            <h3 class="">Add comment</h3>
            <form class="form" method="POST">
                {% csrf_token %}
                <fieldset>
                    {{ comment_form|crispy }}
                </fieldset>
                <button class="btn btn-sm btn-blue rounded-0 text-uppercase" type="submit">Submit Comment</button>
            </form>
        </div>
    </div>
    {% else %}
    <div class="">
        <p> To comment on this post you need to first <a href="{% url 'account_login' %}" class="">login</a>
        </p>
    </div>
    {% endif %}
    </div>
</main>

{% endblock %}